* {
  margin: 0;
  padding: 0;
}
body {
  background: url("minisajtenbackground.jpg");
  background-color: rgb(0, 0, 0);
  background-attachment: fixed;
  background-size: cover;
  height: 2000px;
  width: 100%;
}

.lobby {
  width: 100%;
  height: 15vh;
  background-color: rgb(36, 36, 36);
  overflow: hidden;
  position: relative;
}
.logo img {
  color: azure;
  margin-left: 3%;
  margin-top: 0.3%;
  width: 4.7%;
  float: left;
  transition: 2s;
}
.logo img:hover {
  transform: rotateX(150deg);
  transition: 2s;
}
.home {
  color: azure;
  float: left;
  padding-top: 1.8%;
  margin-left: 5%;
}
.links {
  padding-top: 2.3%;
  float: right;
  margin-right: 2%;
}
.user {
  color: azure;
  float: right;
  margin-right: 6%;
  margin-top: 2%;
  font-size: 30px;
}
.user:hover {
  color: #6ea8ff;
}

a {
  color: rgb(0, 0, 0);
  font-size: 20px;
  padding: 20px;
  color: azure;
  text-decoration: none;
  border-radius: 10px 10px 10px 10px;
  transition: 1s;
}
a:hover {
  background-color: white;
  color: black;
  transition: 0.5s;
}
.search {
  margin-top: 2.3%;
  margin-left: 10%;
}

.fp {
  background: url(wot-signup.jpg);
  background-size: cover;
  margin-top: 3%;
  margin-left: 3%;
  float: left;
  width: 93%;
  height: 440px;
  border-style: solid;
  border-width: 5px;
  border-color: azure;
}
.fp a {
  background-color: rgb(0, 187, 0);
  position: absolute;
  margin-left: 10%;
  margin-top: 18%;
  padding: 10px;
  color: azure;
  font-size: 60px;
  transition: 1s;
}
.fp a:hover {
  border: 1px;
  box-shadow: 5px 5px #0008;
  transition: 1.5s;
  background-color: gold;
  color: black;
}
.stats {
  background-color: rgb(219, 219, 219);
  width: 47%;
  height: auto;
  margin-top: 5%;
  margin-left: 5%;
}
.playerstats {
  width: 99%;
  background-color: rgb(36, 36, 36);
  margin-left: 5px;
  margin-top: 5px;
}
h1 {
  font-size: 40px;
  color: rgb(218, 218, 218);
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
td,
th {
  border: 2px solid #dddddd;
  text-align: left;
  padding: 8px;
}
.stats tr:nth-child(even) {
  background-color: #6ea8ff;
}
.stats tr:nth-child(odd) {
  background-color: #b3d1ff;
}
.toptanks {
  background-color: rgb(218, 218, 218);
  width: 68%;
  height: auto;
  float: left;
  margin-left: 5%;
  margin-top: 5%;
}
.tanks {
  background-color: rgb(36, 36, 36);
  padding: 5px;
}

.toptanks tr:nth-child(even) {
  background-color: #6ea8ff;
}
.toptanks tr:nth-child(odd) {
  background-color: #b3d1ff;
}
footer {
  width: 100%;
  height: 129vh;
  background-color: rgb(36, 36, 36);
  margin-top: 80%;
}
.åva {
  color: azure;
  padding: 10%;
  text-align: center;
}
.k1 {
  padding: 40px;
}
.k2 {
  padding: 40px;
}
.sm {
  padding-top: 10px;
}
.sm i {
  padding: 23px;
}
p {
  padding: 5px;
}

@media screen and (max-width: 1000px) {
  body {
    height: 2500px;
  }
  .search [type="text"] {
    text-align: left;
    width: 70%;
    margin-top: 30px;
    margin-left: 10px;
    padding: 14px;
  }
  .topnav input[type="text"] {
    border: 1px solid #ccc;
  }
  .logo img {
    float: left;
    width: 13%;
    margin-top: 0;
    padding: 14px;
  }
  .links {
    float: left;
    margin-left: 14%;
    margin-top: 17px;
  }
  .user {
    font-size: 0;
  }
  .fp {
    background: url(minisajtenbgsingup.jpg);
    background-size: contain;
    width: 90%;
    height: 15.6%;
    margin-left: 5%;
  }
  .stats {
    margin-left: 5%;
    margin-right: 5%;
    font-size: 11px;
    width: fit-content;
  }
  footer {
    margin-top: 1100px;
    height: 700px;
  }
  .åva {
    color: azure;
    padding: 10%;
    text-align: center;
  }
  .k1 {
    padding: 40px;
  }
  .k2 {
    padding: 40px;
  }
  .sm {
    padding-top: 10px;
  }
  .sm i {
    padding: 23px;
  }
}

@media screen and (max-width: 600px) {
  .search [type="text"] {
    text-align: left;
    width: 70%;
    margin-top: 12px;
    margin-left: 10px;
  }
  body {
    height: 2000px;
    background: url(World-Of-Tanks-Phone-Wallpaper.jpg);
    background-attachment: fixed;
  }
  .topnav input[type="text"] {
    border: 1px solid #ccc;
  }
  .logo img {
    float: left;
    width: 10%;
    margin-top: 0;
    padding: 14px;
  }
  .stats {
    float: left;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 20%;
    font-size: 11px;
    width: fit-content;
  }
  .lobby {
    width: 100%;
  }
  .toptanks {
    font-size: 11px;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 20%;
    position: static;
    width: fit-content;
  }
  .links {
    margin-top: 0px;
  }
  a {
    font-size: 15px;
  }
  .user {
    font-size: 0;
  }
  .fp {
    height: 25vh;
    width: 90;
    height: 200px;
    background: url(minisajtenbgsingup.jpg);
    background-size: contain;
  }
  footer {
    margin-top: 1500px;
    height: 844px;
  }
  .åva {
    color: azure;
    padding: 10%;
    text-align: center;
  }
  .k1 {
    padding: 40px;
  }
  .k2 {
    padding: 40px;
  }
  .sm {
    padding-top: 10px;
  }
  .sm i {
    padding: 23px;
  }
}
